* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  /* background-image: url("https://radarbanyumas.disway.id/upload/d2d65dbe50a68b4731ce1c59029f8618.jpg"); */
  background: url("../img/perpus1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  animation: fadeInBody 1s ease-out;
}

/* Animasi fade-in untuk body */
@keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: fadeInLogin 1s ease-out;
}

/* Animasi fade-in */
@keyframes fadeInLogin {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: 80px;
}

h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: black;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  font-size: 14px;
  color: #002e5f;
  font-weight: bold;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #0f36d1;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #4c6ef5;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #3b5bdb;
  color: black;
  transform: scale(1.1);
}

.signup {
  font-size: 15px;
}

.signup a {
  color: #007bff;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
  color: #3b5bdb;
}
